/* Font declarations */
@font-face {
  font-family: "Martian Mono";
  src: url("assets/fonts/martian-mono/static/MartianMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Martian Mono";
  src: url("assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Martian Mono";
  src: url("assets/fonts/martian-mono/static/MartianMono-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/static/Inter_18pt-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Font families */
  --font-headings: "Martian Mono", monospace;
  --font-body: "Inter", sans-serif;

  /* Typography - Font Sizes */
  --font-size-1: 62px;
  --font-size-1-mobile: 38px;
  --font-size-2: 50px;
  --font-size-2-mobile: 34px;
  --font-size-3: 34px;
  --font-size-3-mobile: 24px;
  --font-size-4: 24px;
  --font-size-4-mobile: 24px;
  --font-size-5: 20px;
  --font-size-6: 18px;
  --font-size-6-mobile: 16px;
  --font-size-7: 14px;

  /* Typography - Letter Spacing */
  --letter-spacing-default: -2px;
  --letter-spacing-small: -1px;
  --letter-spacing-smallest: -0.5px;

  /* Spacing */
  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  /* Border Radius */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /* Colors - Neutral */
  --neutral-900: #062630;
  --neutral-700: #385159;
  --neutral-200: #e6e1df;
  --neutral-100: #faf5f3;
  --neutral-0: #ffffff;

  /* Colors - Light Salmon */
  --light-salmon-500: #fea36f;
  --light-salmon-100: #ffe2d1;
  --light-salmon-50: #fff5ef;

  /* Gradients */
  --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --background-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}

/* Typography - Headings (Martian Mono) */
.text-preset-1 {
  font-family: var(--font-headings);
  font-size: var(--font-size-1);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: var(--letter-spacing-default);
}

.text-preset-2 {
  font-family: var(--font-headings);
  font-size: var(--font-size-2);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: var(--letter-spacing-default);
}

.text-preset-3 {
  font-family: var(--font-headings);
  font-size: var(--font-size-3);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: var(--letter-spacing-default);
}

.text-preset-4-semibold {
  font-family: var(--font-headings);
  font-size: var(--font-size-4);
  font-weight: 600;
  line-height: 110%;
  letter-spacing: var(--letter-spacing-default);
}

.text-preset-4-regular {
  font-family: var(--font-headings);
  font-size: var(--font-size-4);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: var(--letter-spacing-default);
}

.text-preset-5-semibold {
  font-family: var(--font-body); /* Inter for paragraphs */
  font-size: var(--font-size-5);
  font-weight: 600;
  line-height: 140%;
  letter-spacing: var(--letter-spacing-smallest);
}

.text-preset-5-regular {
  font-family: var(--font-body); /* Inter for paragraphs */
  font-size: var(--font-size-5);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: var(--letter-spacing-smallest);
}

.text-preset-6 {
  font-family: var(--font-headings);
  font-size: var(--font-size-6);
  font-weight: 600;
  line-height: 130%;
  letter-spacing: var(--letter-spacing-default);
}

.text-preset-7 {
  font-family: var(--font-headings);
  font-size: var(--font-size-7);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: var(--letter-spacing-default);
}

/* Base styles */
body {
  font-family: var(--font-body); /* Inter for paragraphs */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.balance {
  text-wrap: balance;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.border-radius-img {
  border-radius: var(--radius-20);
}

.hero-section {
  position: relative;
  background-color: var(--neutral-100);
  overflow: hidden;
}

/* Pattern background for hero + journey + membership sections */
.hero-section::before,
.journey-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/pattern-light-bg.svg");
  opacity: 0.5;
}

/* General container for all sections */
.container {
  max-width: 1440px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
  gap: var(--spacing-1000);
  align-items: end;
}

.hero-container {
  padding: var(--spacing-400) 135px var(--spacing-1000);
}

.hero-content .logo {
  display: block;
  margin-bottom: var(--spacing-1000);
}

.hero-content h1 {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: var(--spacing-300);
}

.hero-content .hero-text {
  color: var(--neutral-700);
  margin-bottom: var(--spacing-400);
}

/* All button shared properties */
.button {
  padding: var(--spacing-250) var(--spacing-300);
  border-radius: var(--radius-8);
  transition: background 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

/* Button hero section*/
.cta-button {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-200);
  width: fit-content;
  border: 2px solid var(--neutral-900);
  background: var(--light-salmon-50);
  color: var(--neutral-900);
  margin-bottom: var(--spacing-250);
}

.cta-button:hover {
  background: var(--background-gradient);
}

.cta-button:focus {
  background: var(--background-gradient);
  box-shadow: 0 0 0 5px var(--neutral-700), 0 0 0 3px var(--neutral-0);
  outline: none;
}

.arrow-down,
.star {
  width: 24px;
  height: 24px;
}

.testimonials {
  display: flex;
  gap: var(--spacing-150);
}

.avatars img {
  width: 120px;
}

.rating-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
}

.rating {
  display: flex;
  gap: var(--spacing-050);
}

.rating-text {
  color: var(--neutral-700);
  margin: 0;
}

.main-hero-image {
}

.glow-effect {
  position: absolute;
  bottom: -100px;
  right: -100px;
  width: 600px;
  height: 600px;
}

/* Section 1: lisez ensemble */
.read-together-section,
.club-section {
  background-color: var(--neutral-0);
  /* position: relative;
  overflow: hidden; */
}

.section-container {
  padding: 120px 135px;
}

.together-content h2,
.club-content h2 {
  margin-bottom: var(--spacing-400);
  color: var(--neutral-900);
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.benefit-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.check-icon {
  width: 28px;
  height: 28px;
}

.benefit-item p {
  margin: 0;
  color: var(--neutral-700);
}

/* Section 2: club de lecture */
.club-section .section-container {
  position: relative;
  align-items: center;
}

.highlighted {
  position: relative;
  display: inline-block;
}

.highlighted::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  background-image: url("assets/images/pattern-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.club-text {
  color: var(--neutral-700);
}

.tech-icons {
  position: absolute;
  bottom: -10%;
  right: 50%;
  transform: translate(75%, -150%);
}

.tech-logos {
  max-width: 100%;
  height: auto;
}

/* Section 3: parcours */
.journey-section {
  background-color: var(--neutral-100);
  border-radius: var(--radius-20);
  margin-inline: 135px;
  position: relative;
  overflow: hidden;
}

.journey-container {
  padding: var(--spacing-1000);
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journey-section h2 {
  color: var(--neutral-900);
  text-align: center;
  max-width: 15ch;
  margin-bottom: var(--spacing-800);
}

/* List */
.journey-steps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  gap: var(--spacing-600);
  width: 100%;
}

.journey-step {
  counter-increment: step-counter;
  position: relative;
  width: 210px;
}

.journey-step::before {
  content: counter(step-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--neutral-900);
  border-radius: var(--radius-4);
  color: var(--neutral-900);
  margin-bottom: var(--spacing-300);
}

/* Arrow */
.journey-steps li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  /* transform: translate(50%, 50%); */
  width: 140px;
  height: 30px;
  background-image: url("assets/images/pattern-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Section 4: options */
.options-section {
  /* background-color: var(--neutral-0); */
  position: relative;
  overflow: hidden;
}

.options-container {
  max-width: 1440px;
  margin-inline: auto;
  /* padding-block: 120px; */
  padding: 120px 135px;
}

.options-section h2 {
  color: var(--neutral-900);
  text-align: center;
  margin-bottom: var(--spacing-800);
}

.pricing-cards {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: var(--spacing-300);
  gap: var(--spacing-500);
  max-width: 1000px;
  margin-inline: auto;
}

.pricing-card {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
  border-radius: var(--radius-8);
  padding: var(--spacing-300);
}

/* .pricing-card.recommended {
  background: linear-gradient(
    150deg,
    var(--light-salmon-50) 0%,
    var(--neutral-200) 100%
  );
  position: relative;
  overflow: hidden;
} */

.pricing-card.recommended {
  transform: scale(1.1); /* Increase size by 10% in both dimensions */
  z-index: 1; /* Ensure it overlaps the other cards */
  background: radial-gradient(
      circle at bottom right,
      rgba(177, 236, 255, 0.5) 0%,
      transparent 50%
    ),
    linear-gradient(150deg, var(--light-salmon-50) 0%, var(--neutral-200) 100%);
  position: relative;
}

.button.subscription-button {
  position: relative; /* Ensure the button is above the background */
  z-index: 1; /* Ensure the button is clickable and hoverable */
}

.card-title {
  color: var(--neutral-900);
  /* margin-top: 0; */
  margin-bottom: var(--spacing-300);
}

.price-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  /* margin-bottom: var(--spacing-300); */
}

.price {
  color: var(--neutral-900);
  margin-right: var(--spacing-100);
}

.frequency {
  color: var(--neutral-700);
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid var(--neutral-200);
  margin: var(--spacing-300) 0;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.feature-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.check-icon {
  width: 24px;
  height: 24px;
}

.feature-text {
  color: var(--neutral-700);
  margin: 0;
}

.subscription-button {
  display: inline-block;
  background-color: var(--light-salmon-50);
  color: var(--neutral-900);
  text-align: center;
  border: 2px solid var(--neutral-900);
  width: 100%;
}

.subscription-button:hover {
  background: var(--background-gradient);
}

.subscription-button:focus {
  background: var(--background-gradient);
  box-shadow: 0 0 0 5px var(--neutral-700), 0 0 0 3px var(--neutral-0);
  outline: none;
}

/* Alternate Button ("EXAMINEZ LES OPTIONS D’ADHÉSION") */
.alternate-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-200);
  border: 2px solid var(--neutral-0);
  background: linear-gradient(90deg, var(--neutral-700), var(--neutral-900));
  color: var(--neutral-0);
}

.alternate-button:hover {
  /* Not included in the design system */
  background: linear-gradient(90deg, var(--neutral-700), var(--neutral-900));
}

.alternate-button:focus {
  background: linear-gradient(90deg, var(--neutral-700), var(--neutral-900));
  box-shadow: 0 0 0 5px var(--neutral-200), 0 0 0 3px var(--neutral-900);
  outline: none;
}

/* Responsive styles */
@media (min-width: 1181px) and (max-width: 1249px) {
  .tech-icons {
    top: 45%;
    bottom: unset;
    right: unset;
  }
}

@media (max-width: 1180px) {
  .hero-container,
  .section-container {
    padding: var(--spacing-1000);
  }

  .journey-section {
    margin-inline: var(--spacing-1000);
  }

  .together-image {
    order: 1;
  }
}

@media (max-width: 1140px) {
  .tech-icons {
    top: 25%;
    right: 5%;
    transform: unset;
  }
}

@media (max-width: 1024px) {
  .hero-container,
  .section-container,
  .journey-container,
  .options-container {
    padding: var(--spacing-400) !important;
  }

  .journey-section {
    margin-inline: var(--spacing-400);
  }

  .journey-section h2 {
    text-align: left;
    max-width: unset;
  }
}

@media (max-width: 768px) {
  .text-preset-1 {
    font-size: var(--font-size-1-mobile);
  }

  .text-preset-2 {
    font-size: var(--font-size-2-mobile);
  }

  .text-preset-3 {
    font-size: var(--font-size-3-mobile);
  }

  .text-preset-6 {
    font-size: var(--font-size-6-mobile);
  }

  .cta-button {
    padding: var(--spacing-200) var(--spacing-250);
  }

  .testimonials {
    align-items: center;
  }

  .tech-icons {
    top: 30%;
    left: 5%;
  }

  .pricing-card.recommended {
    transform: unset;
  }
}

@media (max-width: 500px) {
  .tech-icons {
    top: 50%;
  }
}
